<!-- Search Modal -->
<div id="search-modal" class="search-modal">
  <div class="search-container">
    <div class="search-header">
      <div class="search-input-container">
        <i class="ti ti-search search-icon"></i>
        <input type="text" id="search-input" class="search-input" placeholder="Search..." autocomplete="off">
        <button id="search-close" class="search-close-button">
          <i class="ti ti-x"></i>
        </button>
      </div>
      <div class="search-shortcuts">
        <span class="search-shortcut">
          <kbd>/</kbd> or <kbd>Ctrl</kbd>+<kbd>K</kbd> to search
        </span>
        <span class="search-shortcut">
          <kbd>↑</kbd><kbd>↓</kbd> to navigate
        </span>
        <span class="search-shortcut">
          <kbd>Enter</kbd> to select
        </span>
        <span class="search-shortcut">
          <kbd>Esc</kbd> to close
        </span>
      </div>
    </div>
    <div id="search-results" class="search-results">
      <div class="search-results-container"></div>
    </div>
  </div>
</div>